{% extends "base.html" %}
{% load static %}
{% block content %}




        <!-- Preloader Start -->
        <div id="preloader" class="preloader">
            <div class="animation-preloader">
                <div class="spinner">
                </div>
                <div class="txt-loading">
                    <span data-text-preloader="K" class="letters-loading">
                        K
                    </span>
                    <span data-text-preloader="I" class="letters-loading">
                        I
                    </span>
                    <span data-text-preloader="D" class="letters-loading">
                        D
                    </span>
                    <span data-text-preloader="S" class="letters-loading">
                        S
                    </span>
                    <span data-text-preloader="A" class="letters-loading">
                        A
                    </span>
                </div>
                <p class="text-center">Loading</p>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Offcanvas Area Start -->
        <div class="fix-area">
            <div class="offcanvas__info">
                <div class="offcanvas__wrapper">
                    <div class="offcanvas__content">
                        <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                            <div class="offcanvas__logo">
                                <a href="index.html">
                                    <img src="assets/img/logo/logo.svg" alt="logo-img">
                                </a>
                            </div>
                            <div class="offcanvas__close">
                                <button>
                                <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <p class="text d-none d-xl-block">
                            Nullam dignissim, ante scelerisque the  is euismod fermentum odio sem semper the is erat, a feugiat leo urna eget eros. Duis Aenean a imperdiet risus.
                        </p>
                        <div class="mobile-menu fix mb-3"></div>
                        <div class="offcanvas__contact">
                            <h4>Contact Info</h4>
                            <ul>
                                <li class="d-flex align-items-center">
                                    <div class="offcanvas__contact-icon">
                                        <i class="fal fa-map-marker-alt"></i>
                                    </div>
                                    <div class="offcanvas__contact-text">
                                        <a target="_blank" href="#">Main Street, Melbourne, Australia</a>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="offcanvas__contact-icon mr-15">
                                        <i class="fal fa-envelope"></i>
                                    </div>
                                    <div class="offcanvas__contact-text">
                                        <a href="mailto:info@example.com"><span class="mailto:info@example.com">info@example.com</span></a>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="offcanvas__contact-icon mr-15">
                                        <i class="fal fa-clock"></i>
                                    </div>
                                    <div class="offcanvas__contact-text">
                                        <a target="_blank" href="#">Mod-friday, 09am -05pm</a>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="offcanvas__contact-icon mr-15">
                                        <i class="far fa-phone"></i>
                                    </div>
                                    <div class="offcanvas__contact-text">
                                        <a href="tel:+11002345909">+11002345909</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="header-button mt-4">
                                <a href="contact.html" class="theme-btn text-center">
                                    <span>Get A Quote<i class="fa-solid fa-arrow-right-long"></i></span>
                                </a>
                            </div>
                            <div class="social-icon d-flex align-items-center">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas__overlay"></div>

   <!-- Header inside the base.html  -->

        <!-- Search Area Start -->
        <div class="search-wrap">
            <div class="search-inner">
                <i class="fas fa-times search-close" id="search-close"></i>
                <div class="search-cell">
                    <form method="get">
                        <div class="search-field-holder">
                            <input type="search" class="main-search-input" placeholder="Search...">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--<< Breadcrumb Section Start >>-->
        <div class="breadcrumb-wrapper bg-cover" style="background-image: url('static/images/img/breadcrumb.png');">
            <div class="line-shape">
                <img src="{% static 'images/img/breadcrumb-shape/line.png' %}" alt="shape-img">
            </div>
            <div class="plane-shape float-bob-y">
                <img src="{% static 'images/img/breadcrumb-shape/plane.png' %}" alt="shape-img">
            </div>
            <div class="doll-shape float-bob-x">
                <img src="{% static 'images/img/breadcrumb-shape/doll.png' %}" alt="shape-img">
            </div>
            <div class="parasuit-shape float-bob-y">
                <img src="{% static 'images/img/breadcrumb-shape/parasuit.png' %}" alt="shape-img">
            </div>
            <div class="frame-shape">
                <img src="{% static 'images/img/breadcrumb-shape/frame.png' %}" alt="shape-img">
            </div>
            <div class="bee-shape float-bob-x">
                <img src="{% static 'images/img/breadcrumb-shape/bee.png' %}" alt="shape-img">
            </div>
            <div class="container">
                <div class="page-heading">
                    <h1 class="wow fadeInUp" data-wow-delay=".3s">Blog List</h1>
                    <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                        <li>
                            <a href="{% url 'index' %}">
                                Home
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-chevron-right"></i>
                        </li>
                        <li>
                            Blog List
                        </li>
                    </ul>
                </div>
            </div>
        </div>

         <!-- News Standard Section Start -->
         <section class="news-standard fix section-padding">
            <div class="container">
                <div class="row g-4">
                    <div class="col-12 col-lg-8">
                        <div class="news-standard-wrapper">
                            <div class="news-standard-items">
                                <div class="news-thumb">
                                    <img src="{% static 'images/img/news/post-1.jpg' %}" alt="img">
                                    <div class="post">
                                        <span>Activities</span>
                                     </div>
                                </div>
                                <div class="news-content">
                                    <ul>
                                        <li>
                                            <i class="fas fa-calendar-alt"></i>
                                            Feb 10, 2024
                                        </li>
                                        <li>
                                            <i class="far fa-user"></i>
                                            By admin
                                        </li>
                                    </ul>
                                    <h3>
                                        <a href="{% url 'news-details' %}">That jerk form finance really me</a>
                                    </h3>
                                    <p>
                                        Pellentesque egestas rutrum nibh facilisis ultrices. Phasellus in magna ut orci malesuada the sollicitudin. Aenean faucibus scelerisque convallis. Quisque interdum mauris id nunc molestie tincidunt erat gravida. Nullam dui libero, mollis ac quam et, venenatis.
                                    </p>
                                    <a href="{% url 'news-details' %}" class="theme-btn mt-4">
                                        Read More
                                        <i class="fa-solid fa-arrow-right-long"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="news-standard-items">
                                <div class="news-thumb">
                                    <img src="{% static 'images/img/news/post-2.jpg' %}" alt="img">
                                    <div class="post">
                                        <span>Activities</span>
                                     </div>
                                </div>
                                <div class="news-content">
                                    <ul>
                                        <li>
                                            <i class="fas fa-calendar-alt"></i>
                                            Feb 10, 2024
                                        </li>
                                        <li>
                                            <i class="far fa-user"></i>
                                            By admin
                                        </li>
                                    </ul>
                                    <h3>
                                        <a href="{% url 'news-details' %}">How to Keep Children Safe Online In Simple..</a>
                                    </h3>
                                    <p>
                                        Pellentesque egestas rutrum nibh facilisis ultrices. Phasellus in magna ut orci malesuada the sollicitudin. Aenean faucibus scelerisque convallis. Quisque interdum mauris id nunc molestie tincidunt erat gravida. Nullam dui libero, mollis ac quam et, venenatis.
                                    </p>
                                    <a href="{% url 'news-details' %}" class="theme-btn mt-4">
                                        Read More
                                        <i class="fa-solid fa-arrow-right-long"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="news-standard-items">
                                <div class="news-thumb">
                                    <img src="{% static 'images/img/news/post-3.jpg' %}" alt="img">
                                    <div class="post">
                                        <span>Activities</span>
                                     </div>
                                </div>
                                <div class="news-content">
                                    <ul>
                                        <li>
                                            <i class="fas fa-calendar-alt"></i>
                                            Feb 10, 2024
                                        </li>
                                        <li>
                                            <i class="far fa-user"></i>
                                            By admin
                                        </li>
                                    </ul>
                                    <h3>
                                        <a href="{% url 'news-details' %}">From without content
                                            style without </a>
                                    </h3>
                                    <p>
                                        Pellentesque egestas rutrum nibh facilisis ultrices. Phasellus in magna ut orci malesuada the sollicitudin. Aenean faucibus scelerisque convallis. Quisque interdum mauris id nunc molestie tincidunt erat gravida. Nullam dui libero, mollis ac quam et, venenatis.
                                    </p>
                                    <a href="{% url 'news-details' %}" class="theme-btn mt-4">
                                        Read More
                                        <i class="fa-solid fa-arrow-right-long"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="page-nav-wrap pt-5 text-center">
                                <ul>
                                    <li><a class="page-numbers" href="#"><i class="fa-solid fa-arrow-left-long"></i></a></li>
                                    <li><a class="page-numbers" href="#">01</a></li>
                                    <li><a class="page-numbers" href="#">02</a></li>
                                    <li><a class="page-numbers" href="#">03</a></li>
                                    <li><a class="page-numbers" href="#"><i class="fa-solid fa-arrow-right-long"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="main-sidebar">
                            <div class="single-sidebar-widget">
                                <div class="wid-title">
                                    <h3>Search</h3>
                                </div>
                                <div class="search-widget">
                                    <form action="#">
                                        <input type="text" placeholder="Search here">
                                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="single-sidebar-widget">
                                <div class="wid-title">
                                    <h3>Categories</h3>
                                </div>
                                <div class="news-widget-categories">
                                    <ul>
                                        <li><a href="{% url 'news-details' %}">Teachers</a> <span>(5)</span></li>
                                        <li><a href="{% url 'news-details' %}">Indoor Games</a> <span>(3)</span></li>
                                        <li class="active"><a href="{% url 'news-details' %}">Education</a><span>(6)</span></li>
                                        <li><a href="{% url 'news-details' %}">Canteen</a> <span>(2)</span></li>
                                        <li><a href="{% url 'news-details' %}">Classes</a> <span>(4)</span></li>
                                        <li><a href="{% url 'news-details' %}">Examination</a> <span>(7)</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-sidebar-widget">
                                <div class="wid-title">
                                    <h3>Recent Post</h3>
                                </div>
                                <div class="recent-post-area">
                                    <div class="recent-items">
                                        <div class="recent-thumb">
                                            <img src="{% static 'images/img/news/pp3.jpg' %}" alt="img">
                                        </div>
                                        <div class="recent-content">
                                            <ul>
                                                <li>
                                                    <i class="fa-solid fa-calendar-days"></i>
                                                    18 Dec, 2024
                                                </li>
                                            </ul>
                                            <h6>
                                                <a href="{% url 'news-details' %}">
                                                    That Jerk Form Finance <br>
                                                    Really Me
                                                </a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="recent-items">
                                        <div class="recent-thumb">
                                            <img src="{% static 'images/img/news/pp4.jpg' %}" alt="img">
                                        </div>
                                        <div class="recent-content">
                                            <ul>
                                                <li>
                                                    <i class="fa-solid fa-calendar-days"></i>
                                                    18 Dec, 2024
                                                </li>
                                            </ul>
                                            <h6>
                                                <a href="{% url 'news-details' %}">
                                                    How to keep Chidden Safe <br>
                                                    Online In Simple
                                                </a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="recent-items">
                                        <div class="recent-thumb">
                                            <img src="{% static 'images/img/news/pp5.jpg' %}" alt="img">
                                        </div>
                                        <div class="recent-content">
                                            <ul>
                                                <li>
                                                    <i class="fa-solid fa-calendar-days"></i>
                                                    18 Dec, 2024
                                                </li>
                                            </ul>
                                            <h6>
                                                <a href="{% url 'news-details' %}">
                                                    Form Without Content <br>
                                                    Style Without
                                                </a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-sidebar-widget">
                                <div class="wid-title">
                                    <h3>Tags</h3>
                                </div>
                                <div class="news-widget-categories">
                                    <div class="tagcloud">
                                        <a href="{% url 'news-details' %}">Time-Table</a>
                                        <a href="{% url 'news-details' %}">Children</a>
                                        <a href="{% url 'news-details' %}">Examination</a>
                                        <a href="{% url 'news-details' %}">Class</a>
                                        <a href="{% url 'news-details' %}">Sports</a>
                                        <a href="{% url 'news-details' %}">Canteen</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

       <!--<< Footer Section Start also inside the base.html  >>-->


{% endblock %}